In [1]:
c = 'malla reddy university'
c

'malla reddy university'

In [2]:
print(c)

malla reddy university

In [3]:
type(c)

str

In [4]:
t = (3+4j)
t

(3+4j)

In [5]:
type(t)

complex

In [7]:
a = 650
a

650

### addition +
### subtraction -
### division /
### multiplication *
### reminder %
### power **
### floor division //

In [7]:
a = 23
b = 3

In [9]:
c = a + b
c

26

In [10]:
type(c)

int

In [11]:
d = a*b
d

69

In [12]:
type(d)

int

In [13]:
z = a/b
z

7.666666666666667

In [14]:
type(z)

float

In [15]:
f = a//b
f

7

In [16]:
g = a**b
g

12167

> < >= <= == !=

In [17]:
a = 45
b = 23

In [18]:
a<b

False

In [19]:
b>c

False

In [20]:
a>=b

True

In [21]:
a<=b

False

In [22]:
a==b

False

In [23]:
a!=b

True

  list tuple

In [3]:
a = 56

In [4]:
a

56

In [5]:
a=[ 23,34,45,56,67]
a

[23, 34, 45, 56, 67]

In [6]:
type(a)

list

In [17]:
d = [340,80,45,'data',True]
d

[340, 80, 45, 'data', True]

In [18]:
c = [203,'Hyderabad',45,True,False,78,175,34.9]

In [19]:
c

[203, 'Hyderabad', 45, True, False, 78, 175, 34.9]

In [20]:
c[0]

203

In [21]:
c[1]

'Hyderabad'

In [22]:
c[4]

False

In [23]:
c

[203, 'Hyderabad', 45, True, False, 78, 175, 34.9]

In [24]:
c[0:8:4]

[203, False]

In [25]:
c[2]

45

In [4]:
e = [175,78,False,True,45]
e

[175, 78, False, True, 45]

In [5]:
e[6:2:-1]

[45, True]

In [8]:
c = [203,90,'Hyderabad',True,False,78,34.9,80]
c

[203, 90, 'Hyderabad', True, False, 78, 34.9, 80]

list methods

In [9]:
append
insert 
extend 
pop
remove
clear 
count

NameError: name 'append' is not defined

In [14]:
c

[203, 90, 'Hyderabad', False, 78, 34.9, 80]

In [16]:
c.pop(3)
c

[203, 90, 'Hyderabad', 34.9, 80]

In [17]:
c.append(80)
c

[203, 90, 'Hyderabad', 34.9, 80, 80]

In [18]:
c.insert(1,80)
c

[203, 80, 90, 'Hyderabad', 34.9, 80, 80]

In [19]:
c.count(203)
c

[203, 80, 90, 'Hyderabad', 34.9, 80, 80]

In [6]:
d={101: 4,102:7,105: 2}
d

{101: 4, 102: 7, 105: 2}

In [4]:
d[101]

4

In [7]:
d[105]

2

In [9]:
d.update({105:300})

In [10]:
d

{101: 4, 102: 7, 105: 300}

In [11]:
d.key()

AttributeError: 'dict' object has no attribute 'key'

In [12]:
dict_keys([101,102,105])

NameError: name 'dict_keys' is not defined

In [13]:
d.values()

dict_values([4, 7, 300])

In [14]:
d.update({103: 'India'})

In [15]:
d

{101: 4, 102: 7, 105: 300, 103: 'India'}

In [16]:
d[106] = 4000

In [17]:
d

{101: 4, 102: 7, 105: 300, 103: 'India', 106: 4000}

In [19]:
d[107] = 3000

In [20]:
d

{101: 4, 102: 7, 105: 300, 103: 'India', 106: 4000, 107: 3000}

In [21]:
d[108] = 'ram'

In [22]:
d

{101: 4, 102: 7, 105: 300, 103: 'India', 106: 4000, 107: 3000, 108: 'ram'}

In [23]:
del d[105]

In [24]:
d

{101: 4, 102: 7, 103: 'India', 106: 4000, 107: 3000, 108: 'ram'}

In [25]:
d.update({102 : 600})

In [26]:
d

{101: 4, 102: 600, 103: 'India', 106: 4000, 107: 3000, 108: 'ram'}

In [27]:
d.update({101 : 'India'})

In [28]:
d

{101: 'India', 102: 600, 103: 'India', 106: 4000, 107: 3000, 108: 'ram'}

In [29]:
d.get(103)

'India'

In [30]:
type(d)

dict

In [31]:
d

{101: 'India', 102: 600, 103: 'India', 106: 4000, 107: 3000, 108: 'ram'}

In [32]:
d[104] = [1000,2000,3000,4000,5000]

In [33]:
d

{101: 'India',
 102: 600,
 103: 'India',
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 3000, 4000, 5000]}

In [35]:
type(d[107])

int

In [36]:
type(d[103])

str

In [40]:
d

{101: 'India',
 102: 600,
 103: 'India',
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 3000, 4000, 5000]}

In [41]:
d.update({103:(30,40,50,60,70)})

In [42]:
d

{101: 'India',
 102: 600,
 103: (30, 40, 50, 60, 70),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 3000, 4000, 5000]}

In [43]:
d[104].append(9000)

In [44]:
d

{101: 'India',
 102: 600,
 103: (30, 40, 50, 60, 70),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 3000, 4000, 5000, 9000]}

In [45]:
d[104]

[1000, 2000, 3000, 4000, 5000, 9000]

In [46]:
type(d[104])

list

In [47]:
d[104].count(9000)

1

In [48]:
d[104].count(10000)

0

In [49]:
a='india'

In [50]:
a

'india'

In [51]:
a.isdigit()

False

In [52]:
a.upper()

'INDIA'

In [53]:
a.lower()

'india'

In [56]:
d[104].insert(2,5500)

In [57]:
d

{101: 'India',
 102: 600,
 103: (30, 40, 50, 60, 70),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [58]:
d.update({103:(30,40,50,60)})

In [59]:
d

{101: 'India',
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [60]:
type(d[107])

int

In [62]:
d[108].upper()

'RAM'

In [64]:
d[101]=d[101].upper()

In [65]:
d

{101: 'INDIA',
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [66]:
d[108]=d[108].upper()

In [67]:
d

{101: 'INDIA',
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'RAM',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [68]:
d[101].lower()

'india'

In [69]:
d[101]=d[101].lower()

In [70]:
d

{101: 'india',
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'RAM',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [71]:
d[108]=d[108].lower()

In [72]:
d

{101: 'india',
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [73]:
type(d[102])

int

In [74]:
type(d[103])

tuple

In [75]:
d[101]={50:[7,8,9,10],'apple':(20,10,70,[90,180,270])}

In [76]:
d

{101: {50: [7, 8, 9, 10], 'apple': (20, 10, 70, [90, 180, 270])},
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000]}

In [77]:
d[105]={'a':{30,50,70},'b':(1000,5000,7000,9000),'c':['K',{'L':[11,22],'M':(77,88)},'N']}

In [78]:
d

{101: {50: [7, 8, 9, 10], 'apple': (20, 10, 70, [90, 180, 270])},
 102: 600,
 103: (30, 40, 50, 60),
 106: 4000,
 107: 3000,
 108: 'ram',
 104: [1000, 2000, 5500, 3000, 4000, 5000, 9000],
 105: {'a': {30, 50, 70},
  'b': (1000, 5000, 7000, 9000),
  'c': ['K', {'L': [11, 22], 'M': (77, 88)}, 'N']}}